#PHP - Storm
.idea

#Codelobster - IDE
*.clpprj
*.csprj

# Can also ignore all directories and files in a directory.
Data/*
Data/administrator/*
debug/*

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows image file caches
Thumbs.db
ehthumbs.db