@CHARSET "ISO-8859-1";
img { 
	border: none;
}
A img { 
	border: none;
}
body {
	font-size:12px;
	line-height:1.2;
	color: #ffffff;
	font-family: Verdana, ARIAL, HELVETICA;
	text-decoration: none  ;
	background-color: #383838;
}
td {
	color: #ffffff;
	font-family: Verdana, ARIAL, HELVETICA;
	text-decoration: none  ;
}
p {
	color: #ffffff;
	font-family: Verdana, ARIAL, HELVETICA;
	text-decoration: none  ;
}
A:link {
	color: #ffffff;
	font-family: Verdana, ARIAL, HELVETICA;
	text-decoration: none;
	border: none;
}
A:visited {
	color: #ffffff;
	font-family: Verdana, ARIAL, HELVETICA;
	text-decoration: none  ;
	border: none;
}
A:active {
	color: #ffffff;
	font-family: Verdana, ARIAL, HELVETICA;
	text-decoration: none;
	border: none;
}
A:hover {
	color: #ffffff;
	font-family: Verdana, ARIAL, HELVETICA;
	text-decoration: none;
	border: none;
}
#div_body {
	position: relative;
	width: 1000px;
	height: 122px;
	z-index: 0;
	padding: 0px;
	background-image: url(./../images/smalltime.jpg);
}
#div_plugin {
	position: absolute;
	top: 0px;
	left: 320px;
	width: 680px;
	height: 30px;
	z-index: 0;
	padding: 0px;
	*background-color: red;
	text-align: right;
}
#div_user01 {
	position: absolute;
	top: 52px;
	left: 320px;
	width: 680px;
	height: 42px;
	z-index: 0;
	padding: 0px;
	background-color: transparent;
}
#div_user02 {
	position: absolute;
	top: 105px;
	left: 290px;
	width: 700px;
	height: 25px;
	z-index: 1;
	padding: 0px;
	*background-image: -webkit-gradient(linear,left top,left bottom,from( #292929 ),to( #262626 )); 
	*background-image: -webkit-linear-gradient( -90deg,#292929,#262626 ); 
	*background-image: -moz-linear-gradient( -90deg,#292929,#262626 ); 
	*background-image: -ms-linear-gradient( -90deg,#292929,#262626 ); 
	*background-image: -o-linear-gradient( -90deg,#292929,#262626 ); 
	*background-image: linear-gradient( -90deg,#292929,#262626 ); 
	background-color: transparent;
}
#div_user03 {
	position: absolute;
	top: 147px;
	left: 2px;
	width: 270px;
	z-index: 2;
	padding: 0px;
	*background-color: #262626;
	background-color: transparent;
}
#div_user04 {
	position: absolute;
	top: 147px;
	left: 290px;
	width: 700px;
	z-index: 3;
	padding:0px;
	*background-image: -webkit-gradient(linear,left top,left bottom,from( #292929 ),to( #262626 )); 
	*background-image: -webkit-linear-gradient( -90deg,#292929,#262626 ); 
	*background-image: -moz-linear-gradient( -90deg,#292929,#262626 ); 
	*background-image: -ms-linear-gradient( -90deg,#292929,#262626 ); 
	*background-image: -o-linear-gradient( -90deg,#292929,#262626 ); 
	*background-image: linear-gradient( -90deg,#292929,#262626 ); 
	background-color: transparent;
}
.info { 
	display: none;
}
#meineid div input:hover + .info { 
	display: block;
}
.background {
	background-color: #393939;
}
.div_background {
	background-color: #393939;
}
.Table_background {
	background-color: #393939;
}


.minus { 
	color: #ff6464; 
}
.timefehlt{ 
	color: #4b8afe; 
}
/* -----------------------------------------------------------------------------------------------------------*/
/* Navigation  Menue im DIV 01                                                                                */
/* -----------------------------------------------------------------------------------------------------------*/

.pagination {
	*margin: 0px;
	position: relative;
	top: -15px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.pagination ul {
	*display: inline-block;
	*display: inline;
	*margin-bottom: 0px;
	margin-left: 41px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	*zoom: 1;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
	display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
	float: left;
	padding: 3px 6px;
	line-height: 17px;
	text-decoration: none;
	*background-color: #ffffff;
	background-color: transparent;
	border: 0px solid #dddddd;
	border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	*background-color: #f2f2f2;
	background-color: transparent;
	text-decoration: underline;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #999999;
	cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #999999;
	cursor: default;
	background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	border-left-width: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topleft: 0px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
}

#Home{
	background-image: url(./../../../images/icons/house.png);
	background-repeat: no-repeat;
	background-position:10px 0px;
	padding: 15px 0 0px 0px;
	margin: .4em .4em;
}
#Mitarbeiter{
	background-image: url(./../../../images/icons/user_add.png);
	background-repeat: no-repeat;
	background-position:10px 0px;
	padding: 15px 0 0px 0px;
	margin: .4em .4em;
}
#Gruppen{
	background-image: url(./../../../images/icons/group_go.png);
	background-repeat: no-repeat;
	background-position:10px 0px;
	padding: 15px 0 0px 0px;
	margin: .4em .4em;
}
#Design{
	background-image: url(./../../../images/icons/color_wheel.png);
	background-repeat: no-repeat;
	background-position:10px 0px;
	padding: 15px 0 0px 0px;
	margin: .4em .4em;
}
#Settings{
	background-image: url(./../../../images/icons/cog_edit.png);
	background-repeat: no-repeat;
	background-position:10px 0px;
	padding: 15px 0 0px 0px;
	margin: .4em .4em;
}
#Feiertag{
	background-image: url(./../../../images/icons/calendar_view_day.png);
	background-repeat: no-repeat;
	background-position:10px 0px;
	padding: 15px 0 0px 0px;
	margin: .4em .4em;
}
#Import{
	background-image: url(./../../../images/icons/table_go.png);
	background-repeat: no-repeat;
	background-position:10px 0px;
	padding: 15px 0 0px 0px;
	margin: .4em .4em;
}
#Status{
	background-image: url(./../../../images/icons/bug.png);
	background-repeat: no-repeat;
	background-position:10px 0px;
	padding: 15px 0 0px 0px;
	margin: .4em .4em;
}
#Codes{
	background-image: url(./../../../images/icons/images.png);
	background-repeat: no-repeat;
	background-position:10px 0px;
	padding: 15px 0 0px 0px;
	margin: .4em .4em;
}
#Logout{
	background-image: url(./../../../images/icons/key_delete.png);
	background-repeat: no-repeat;
	background-position:10px 0px;
	padding: 15px 0 0px 0px;
	margin: .4em .4em;
}
/* -----------------------------------------------------------------------------------------------------------*/
/* Navigation */
/* -----------------------------------------------------------------------------------------------------------*/

.pagination {
	*margin: 0px;
	position: relative;
	top: -15px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.pagination ul {
	*display: inline-block;
	*display: inline;
	*margin-bottom: 0px;
	margin-left: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	*zoom: 1;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
	display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
	float: left;
	padding: 3px 6px;
	line-height: 17px;
	text-decoration: none;
	*background-color: #ffffff;
	background-color: transparent;
	border: 0px solid #363636;
	border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	*background-color: #f2f2f2;
	background-color: transparent;
	text-decoration: underline;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #cfcfcf;
	cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #cfcfcf;
	cursor: default;
	background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	border-left-width: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-topleft: 0px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
}

/* -----------------------------------------------------------------------------------------------------------*/
/* Jahres - Navigation und Menue */
/* -----------------------------------------------------------------------------------------------------------*/

.td_background_menue {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #292929 ),to( #000000 )); 
	background-image: -webkit-linear-gradient( #292929,#000000 ); 
	background-image: -moz-linear-gradient( #292929,#000000 ); 
	background-image: -ms-linear-gradient( #292929,#000000 ); 
	background-image: -o-linear-gradient( #292929,#000000 ); 
	background-image: linear-gradient( #292929,#000000 ); 

	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;		  
}

/* -----------------------------------------------------------------------------------------------------------*/
/* Tabellen - Anzeigen */
/* -----------------------------------------------------------------------------------------------------------*/
/* Überschriften */
.td_background_top {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #2a2a2a ),to( #b0a06f )); 
	background-image: -webkit-linear-gradient( #2a2a2a,#b0a06f ); 
	background-image: -moz-linear-gradient( #2a2a2a,#b0a06f ); 
	background-image: -ms-linear-gradient( #2a2a2a,#b0a06f ); 
	background-image: -o-linear-gradient( #2a2a2a,#b0a06f ); 
	background-image: linear-gradient( #2a2a2a,#b0a06f ); 
}
/* Normal,Arbeitstag (2)*/
.td_background_tag {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #7a7a7a ),to( #565656 )); 
	background-image: -webkit-linear-gradient( #7a7a7a,#565656 ); 
	background-image: -moz-linear-gradient( #7a7a7a,#565656 ); 
	background-image: -ms-linear-gradient( #7a7a7a,#565656 ); 
	background-image: -o-linear-gradient( #7a7a7a,#565656 ); 
	background-image: linear-gradient( #7a7a7a,#565656 ); 
}
/* 50% Arbeitstag*/
.td_background_tag50 {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #565656 ),to( #5a5844 )); 
	background-image: -webkit-linear-gradient( #565656,#5a5844 ); 
	background-image: -moz-linear-gradient( #565656,#5a5844 ); 
	background-image: -ms-linear-gradient( #565656,#5a5844 ); 
	background-image: -o-linear-gradient( #565656,#5a5844 ); 
	background-image: linear-gradient( #565656,#5a5844 ); 
}

/* Wochenende (3)*/
.td_background_wochenende, .td_background_feiertag {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #746f5b ),to( #414141 )); 
	background-image: -webkit-linear-gradient( #746f5b,#414141 ); 
	background-image: -moz-linear-gradient( #746f5b,#414141 ); 
	background-image: -ms-linear-gradient( #746f5b,#414141 ); 
	background-image: -o-linear-gradient( #746f5b,#414141 ); 
	background-image: linear-gradient( #746f5b,#414141 ); 
}
/* Heute */
.td_background_heute {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #ff2d2d ),to( #353535 )); 
	background-image: -webkit-linear-gradient( #ff2d2d,#353535 ); 
	background-image: -moz-linear-gradient( #ff2d2d,#353535 ); 
	background-image: -ms-linear-gradient( #ff2d2d,#353535 ); 
	background-image: -o-linear-gradient( #ff2d2d,#353535 ); 
	background-image: linear-gradient( #ff2d2d,#353535 ); 
}
/* Wichtige zeilen (x)*/
.td_background_info {
	background-image: -webkit-gradient(linear,left top,left bottom,from( #ff5151 ),to( #494949 )); 
	background-image: -webkit-linear-gradient( #ff5151,#494949 ); 
	background-image: -moz-linear-gradient( #ff5151,#494949 ); 
	background-image: -ms-linear-gradient( #ff5151,#494949 ); 
	background-image: -o-linear-gradient( #ff5151,#494949 ); 
	background-image: linear-gradient( #ff5151,#494949 ); 
}

/*  Tabellenhintergrund kleine Monatsansicht */
.td_background_5 {
	background-color: #898989;
}


/* -----------------------------------------------------------------------------------------------------------*/
/* PDF und ZIP - Anzeige */
/* -----------------------------------------------------------------------------------------------------------*/
#divpdf {
	width: 100%;
	margin: 0px ;
	padding: 0px;
	padding-bottom: 30px;
	position: relative;
	border-left: 0px solid;
	border-right: 0px solid;
	border-bottom: 0px solid;
	border-top: 0px solid;
	float: left
}
#divpdf div {
	width: 94px;
	height: 100px;
	margin: 5px ;
	padding: 5px;
	position: relative;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	-webkit-border-radius: .3em /*{global-radii-blocks}*/;
	border-radius: .3em /*{global-radii-blocks}*/;	
	background-image: -webkit-gradient(linear,left top,left bottom,from( #7f7f7f ),to( #e0e0e0 )); 
	background-image: -webkit-linear-gradient( #7f7f7f,#e0e0e0 ); 
	background-image: -moz-linear-gradient( #7f7f7f,#e0e0e0 ); 
	background-image: -ms-linear-gradient( #7f7f7f,#e0e0e0 ); 
	background-image: -o-linear-gradient( #7f7f7f,#e0e0e0 ); 
	background-image: linear-gradient( #7f7f7f,#e0e0e0 ); 
	float: left
}
#divpdf div:hover {
	width: 94px;
	height: 100px;
	margin: 5px ;
	padding: 5px;
	position: relative;
	background-color: #aaaaaa;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;	
	background-image: -webkit-gradient(linear,left top,left bottom,from( #ff4848 ),to( #ffb9b9 )); 
	background-image: -webkit-linear-gradient( #ff4848,#ffb9b9 ); 
	background-image: -moz-linear-gradient( #ff4848,#ffb9b9 ); 
	background-image: -ms-linear-gradient( #ff4848,#ffb9b9 ); 
	background-image: -o-linear-gradient( #ff4848,#ffb9b9 ); 
	background-image: linear-gradient( #ff4848,#ffb9b9 ); 
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #ffffff /*{a-body-shadow-color}*/;
	float: left	
}

/* -----------------------------------------------------------------------------------------------------------*/
/* Jahres - Anzeige einfach für Admin und Use*/
/* -----------------------------------------------------------------------------------------------------------*/
#show_year {
	width: 100%;
	margin: 0px ;
	padding: 0px;
	position: relative;
	border-left: 0px solid;
	border-right: 0px solid;
	border-bottom: 0px solid;
	border-top: 0px solid;
}
#show_year div {
	width: 325px;
	height: 100%;
	margin: 5px ;
	padding: 5px;
	position: relative;
	background-color: #a9a9a9;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	float: left
}

/* -----------------------------------------------------------------------------------------------------------*/
/* Formular - gestaltung */
/* -----------------------------------------------------------------------------------------------------------*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 0px;
	line-height: 20px;
	color: #202020;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 6px 0px;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
}

select {
	width: 220px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 30px;
	/* In IE7, the height of the select element cannot be changed by height, only font-size */
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	line-height: 30px;
}


.uneditable-input,
.uneditable-textarea {
	color: #999999;
	cursor: not-allowed;
	background-color: #fcfcfc;
	border-color: #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}



input[type="file"]:focus,
input[type="submit"]:focus,
input[type="cancel"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
}

input[type="file"],
input[type="submit"],
input[type="cancel"] {
	height: 30px;
}